<footer
  class="page-footer font-small blue pt-3 bg-light text-dark pl-5 pr-5"
  style="margin-top: 5%"
>
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-6">
        <h5 class="text-uppercase">RADNO VREME</h5>
        <ul class="list-unstyled">
          <li>09h - 19h</li>
        </ul>
      </div>

      <div class="col-md-6 mt-md-0 mt-6">
        <h5 class="text-uppercase">CALL CENTAR</h5>
        <ul class="list-unstyled">
          <li>063 7044 768</li>
        </ul>
      </div>
      <div class="footer-copyright text-center">
        © 2023 Copyright: Amina Memic
      </div>
    </div>
  </div>
</footer>
