<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
>
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a class="navbar-item">
      <img src="assets/images/logon.jpeg" class="logo" />
    </a>
  </h5>
  <nav class="text">
    <a class="p-2 text-dark lead" routerLink="/about">O nama</a>
    <a *ngIf="getAuth()" class="p-2 text-dark lead" routerLink="/product-list"
      >Proizvodi</a
    >
    <a
      *ngIf="isMusterija() && getAuth()"
      class="p-2 text-dark lead"
      routerLink="/usluga"
      >Usluge</a
    >
    <!-- <a
      *ngIf="isMusterija() && getAuth() && !isFriseur()"
      class="p-2 text-dark lead"
      routerLink="/mojiZahtevi"
      >Moji zahtevi</a
    > -->
    <!-- <a
      *ngIf="isFriseur() && getAuth()"
      class="p-2 text-dark lead"
      routerLink="/profil"
      >Profil</a
    > -->
  </nav>

  <div class="d-inline-block" ngbDropdown style="margin-right: 0.3%">
    <button
      *ngIf="isMusterija() && getAuth() && !isFriseur()"
      class="btn btn-outline-secondary"
      (click)="logoutAdmin()"
    >
      Odjavi se
    </button>
    <button
      *ngIf="isFriseur()"
      class="btn btn-outline-danger"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      Frizer
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem routerLink="/staff">Prikaz zahteva</button>
      <button ngbDropdownItem routerLink="/uplata">Uplate</button>
      <button ngbDropdownItem routerLink="/zahtevObuka">Kursevi</button>
      <button style="color: #007bff" (click)="logoutAdmin()" ngbDropdownItem>
        Odjavi se
      </button>
    </div>
  </div>

  <div
    *ngIf="isAdmin()"
    ngbDropdown
    class="d-inline-block"
    style="margin-right: 0.3%"
  >
    <button
      class="btn btn-outline-danger"
      id="dropdownBasic2"
      ngbDropdownToggle
    >
      Admin
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
      <button ngbDropdownItem routerLink="/friseur">Frizeri</button>
      <button ngbDropdownItem routerLink="/product">Artikli</button>
      <button ngbDropdownItem routerLink="/uslugeAdmin">Usluge</button>
      <button ngbDropdownItem routerLink="/supplies">Dobavljanja</button>
      <button ngbDropdownItem routerLink="/suppliers">Dobavljači</button>
      <button ngbDropdownItem routerLink="/kuponi">Kuponi</button>
      <button ngbDropdownItem routerLink="/obuka">Obuka</button>
      <button ngbDropdownItem routerLink="/admin-zahtevi">
        Zahtevi za Obuku
      </button>

      <button style="color: #007bff" (click)="logoutAdmin()" ngbDropdownItem>
        Odjavi se
      </button>
    </div>
  </div>

  <div class="cart-container">
    <a
      *ngIf="!getAuth()"
      class="btn btn-outline-secondary"
      routerLink="/sign-up-in"
      >Prijavi se</a
    >
  </div>

  <div class="cart-container" *ngIf="isAdmin()">
    <a class="cart-icon" routerLink="/korpa-admin"
      ><span class="mr-2"
        ><fa-icon [icon]="faCart" style="font-size: 150%"></fa-icon
      ></span>
      Korpa
    </a>
  </div>
  <div class="cart-container" *ngIf="!isAdmin()">
    <a class="cart-icon" routerLink="/mycart"
      ><span class="mr-2"
        ><fa-icon [icon]="faCart" style="font-size: 150%"></fa-icon
      ></span>
      Moja korpa
    </a>
  </div>
</div>
